@import "tailwindcss";
body{
    font-family: 'Bitcount Grid Double', monospace;
    background: #000;
}
.box2{
    font-family:  sans-serif;
}

#name{
    font-family: system-ui, sans-serif;
    
}
.projectcard{
    font-family: system-ui, sans-serif;

}
.para{
    font-family: system-ui, sans-serif;
}
.form input{
    font-family: system-ui, sans-serif;
}
.form textarea{
    font-family: system-ui, sans-serif;
}